.idea/
*.retry
*/__pycache__
*.pyc
.cache
.vscode

.config.nodes.json
.config.runtime.json
JsonDB/
error.log
package.json
lib/

node_modules/

## Installation files
FreeTAKHub-Webmap/
FreeTAKHub_Forms_SALUTE/
FreeTAKHub_VideoChecker/


### Terraform ###
# Local .terraform directories
./terraform/
**/.terraform/*
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sentitive data, such as
# password, private keys, and other secrets. These should not be part of version
# control as they are data points which are potentially sensitive and subject
# to change depending on the environment.
#
*.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc

# ansible
ansible_log.rb

/.vagrant/bundler/global.sol
/.vagrant/machines/default/digital_ocean/action_provision
/.vagrant/machines/default/digital_ocean/creator_uid
/.vagrant/machines/default/digital_ocean/id
/.vagrant/machines/default/digital_ocean/index_uuid
/.vagrant/machines/default/digital_ocean/synced_folders
/.vagrant/machines/default/digital_ocean/vagrant_cwd
/.vagrant/rgloader/loader.rb
/.vagrant/*
/.byebug_history
/docs/DEV.md

apt_inst.so
apt_pkg.so

git-error-*

