---
- name: enable freetakserver_ui
  service:
    name: "{{ fts_ui_service_name }}"
    enabled: "{{ fts_ui_enabled }}"

- name: reload freetakserver_ui
  service:
    name: "{{ fts_ui_service_name }}"
    state: reloaded

- name: set freetakserver_ui state
  service:
    name: "{{ fts_ui_service_name }}"
    state: "{{ fts_ui_state }}"

- name: print fts_ui url
  debug:
    msg: "FreeTAKServer-UI URL: https://{{ fts_ui_ipv4 }}:5000/"

- name: print fts_ui credentials
  debug:
    msg: "username: admin     password: password"
