---
- name: Delete PyYAML
  shell: "{{ item }}"
  loop:
    - "rm -rf {{ fts_python_packages }}/site-packages/yaml"
    - "rm -rf {{ fts_python_packages }}/site-packages/PyYAML-*"

- name: Install apt dependencies
  apt:
    name: "{{ fts_apt_dependencies | list }}"

#- name: "Install {{ fts_pip_package_name }} from github repo"
#  shell: "{{ item }}"
#  loop:
#    - "git clone https://github.com/FreeTAKTeam/FreeTakServer.git /FreeTakServer"
#    - "git -C /FreeTakServer reset --hard 109b674"
#    - "pip install /FreeTakServer"

- name: "Install {{ fts_pip_package_name }}"
  ansible.builtin.pip:
    name: "{{ fts_pip_package_name }}=={{ fts_version }}"
    virtualenv: "{{ fts_venv }}"
    virtualenv_command: "{{ venv_python }} -m venv"
