---
- name: Edit MainConfig so FirstStart is false
  lineinfile:
    path: '{{ fts_installation_path }}/controllers/configuration/MainConfig.py'
    regexp: 'first_start = True'
    line: '    first_start = False'
    backrefs: yes

- name: create yaml config file
  copy:
    dest: /opt/FTSConfig.yaml
    content: |
      System:
        #FTS_DATABASE_TYPE: SQLite
        {% if FTS_CONNECTION_MESSAGE %}
      FTS_CONNECTION_MESSAGE: {{ FTS_CONNECTION_MESSAGE }}
      {% else %}
      #FTS_CONNECTION_MESSAGE: Please re comment the connection message or specify one
      {% endif %}
        #FTS_OPTIMIZE_API: True
        #FTS_MAINLOOP_DELAY: 1
      Addresses:
        #FTS_COT_PORT: 8087
        #FTS_SSLCOT_PORT: 8089
        FTS_DP_ADDRESS: {{ hostvars.mainNode.ansible_host | default(ansible_default_ipv4.address) }}
        FTS_DP_ADDRESS: {{ hostvars.mainNode.ansible_host | default(ansible_default_ipv4.address) }}
        #FTS_API_PORT: 19023
        #FTS_FED_PORT: 9000
        #FTS_API_ADDRESS: 0.0.0.0
      FileSystem:
        FTS_DB_PATH: /opt/FreeTAKServer.db
        #FTS_COT_TO_DB: True
        FTS_MAINPATH: /usr/local/lib/python3.8/dist-packages/FreeTAKServer
        #FTS_CERTS_PATH: /usr/local/lib/python3.8/dist-packages/FreeTAKServer/certs
        #FTS_EXCHECK_PATH: /usr/local/lib/python3.8/dist-packages/FreeTAKServer/ExCheck
        #FTS_EXCHECK_TEMPLATE_PATH: /usr/local/lib/python3.8/dist-packages/FreeTAKServer/ExCheck/template
        #FTS_EXCHECK_CHECKLIST_PATH: /usr/local/lib/python3.8/dist-packages/FreeTAKServer/ExCheck/checklist
        #FTS_DATAPACKAGE_PATH: /usr/local/lib/python3.8/dist-packages/FreeTAKServer/FreeTAKServerDataPackageFolder
        #FTS_LOGFILE_PATH: /usr/local/lib/python3.8/dist-packages/FreeTAKServer/Logs
      Certs:
        #FTS_SERVER_KEYDIR: /usr/local/lib/python3.8/dist-packages/FreeTAKServer/certs/server.key
        #FTS_SERVER_PEMDIR: /usr/local/lib/python3.8/dist-packages/FreeTAKServer/certs/server.pem
        #FTS_TESTCLIENT_PEMDIR: /usr/local/lib/python3.8/dist-packages/FreeTAKServer/certs/Client.pem
        #FTS_TESTCLIENT_KEYDIR: /usr/local/lib/python3.8/dist-packages/FreeTAKServer/certs/Client.key
        #FTS_UNENCRYPTED_KEYDIR: /usr/local/lib/python3.8/dist-packages/FreeTAKServer/certs/server.key.unencrypted
        #FTS_SERVER_P12DIR: /usr/local/lib/python3.8/dist-packages/FreeTAKServer/certs/server.p12
        #FTS_CADIR: /usr/local/lib/python3.8/dist-packages/FreeTAKServer/certs/ca.pem
        #FTS_CAKEYDIR: /usr/local/lib/python3.8/dist-packages/FreeTAKServer/certs/ca.key
        #FTS_FEDERATION_CERTDIR: /usr/local/lib/python3.8/dist-packages/FreeTAKServer/certs/server.pem
        #FTS_FEDERATION_KEYDIR: /usr/local/lib/python3.8/dist-packages/FreeTAKServer/certs/server.key
        #FTS_CRLDIR: /usr/local/lib/python3.8/dist-packages/FreeTAKServer/certs/FTS_CRL.json
        #FTS_FEDERATION_KEYPASS: demopassfed
        #FTS_CLIENT_CERT_PASSWORD: demopasscert
        #FTS_WEBSOCKET_KEY: YourWebsocketKey

- name: Display all variables/facts known for a host
  debug:
    var: "{{ hostvars.mainNode.ansible_host | default(ansible_default_ipv4.address) }}"

- name: update yaml with ip
  replace:
    path: /opt/FTSConfig.yaml
    regexp: '0.0.0.0'
    replace: "'{{ hostvars.mainNode.ansible_host | default(ansible_default_ipv4.address) }}'"

- name: create unit file for FTS
  template:
    src: fts.service.j2
    dest: /lib/systemd/system/fts.service
    mode: 0644
  notify:
    - reload systemctl
