[Unit]
After=network.target

[Service]
ExecStart={{ videoserver_executable_location }}/rtsp-simple-server {{ videoserver_config_location }}/rtsp-simple-server.yml

[Install]
WantedBy=multi-user.target
