[Install]
WantedBy=multi-user.target

[Unit]
Description=FreeTAKServer service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/"{{ fts_python_version }}" -m FreeTAKServer.controllers.services.FTS