[Unit]
Description=FreeTAKServer service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
StandardOutput=append:/var/log/{{ fts_service_name }}/{{ fts_service_name }}-stdout.log
StandardError=append:/var/log/{{ fts_service_name }}/{{ fts_service_name }}-stderr.log
ExecStart={{ python3 }} -m FreeTAKServer.controllers.services.FTS

[Install]
WantedBy=multi-user.target
