[Unit]
Description=FreeTAKServer service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart={{ python3 }} -m FreeTAKServer.controllers.services.FTS

[Install]
WantedBy=multi-user.target
