[Unit]
Description={{ description }}
{% if documentation %}
Documentation={{ documentation }}
{% endif %}
{% if after %}
After={{ after }}
{% endif %}
StartLimitIntervalSec={{ slis }}
StartLimitBurst={{ slb }}

[Service]
Type=simple
Restart=always
RestartSec=1
StandardOutput=append:/var/log/{{ fts_service_name }}/{{ fts_service_name }}-stdout.log
StandardError=append:/var/log/{{ fts_service_name }}/{{ fts_service_name }}-stderr.log
ExecStart={{ python3 }} {{ exec_start }}
{% if exec_reload %}
ExecReload={{ exec_reload }}
{% endif %}
{% if pid_file %}
PIDFile={{ pid_file }}
{% endif %}
{% if environment %}
Environment={{ environment }}
{% endif %}
{% if user %}
User={{ user }}
{% endif %}
{% if group %}
Group={{ group }}
{% endif %}

[Install]
{% if wanted_by %}
WantedBy={{ wanted_by }}
{% endif %}
