[
    {
        "id": "071fff36491b5378",
        "type": "global-config",
        "name": "global-config",
        "env": [
            {
                "name": "FTH_FTS_URL",
                "value": "127.0.0.1",
                "type": "str"
            },
            {
                "name": "FTH_FTS_TCP_Port",
                "value": "8087",
                "type": "str"
            },
            {
                "name": "FTH_FTS_API_Port",
                "value": "19023",
                "type": "str"
            },
            {
                "name": "FTH_FTS_API_Auth",
                "value": "token",
                "type": "str"
            },
            {
                "name": "FTH_FTS_STREAM_Port",
                "value": "8554",
                "type": "str"
            },
            {
                "name": "FTH_FTS_VIDEO_URL",
                "value": "127.0.0.1",
                "type": "str"
            },
            {
                "name": "FTH_FTS_VIDEO_API_PORT",
                "value": "9997",
                "type": "str"
            }
        ]
    }
]