{
    "id": "9c3be5f3.90e288",
    "label": "SALUTE",
    "disabled": false,
    "info": "",
    "env": [],
    "nodes": [
        {
            "id": "3db9bf25.a5ca2",
            "type": "ui_form",
            "z": "9c3be5f3.90e288",
            "name": "form",
            "label": "SALUTE",
            "group": "c3abc391.1d58",
            "order": 0,
            "width": 0,
            "height": 0,
            "options": [
                {
                    "label": "Report Name",
                    "value": "name",
                    "type": "text",
                    "required": true,
                    "rows": null
                },
                {
                    "label": "Location",
                    "value": "address",
                    "type": "text",
                    "required": true,
                    "rows": null
                },
                {
                    "label": "Callsign",
                    "value": "userCallsign",
                    "type": "text",
                    "required": false,
                    "rows": null
                },
                {
                    "label": "report Date",
                    "value": "dateTime",
                    "type": "date",
                    "required": true,
                    "rows": null
                },
                {
                    "label": "TimeObserved",
                    "value": "time",
                    "type": "text",
                    "required": false,
                    "rows": null
                },
                {
                    "label": "Duration of Even",
                    "value": "Duration",
                    "type": "text",
                    "required": false,
                    "rows": null
                },
                {
                    "label": "event Scale",
                    "value": "eventScale",
                    "type": "text",
                    "required": false,
                    "rows": null
                },
                {
                    "label": "Type",
                    "value": "type",
                    "type": "text",
                    "required": false,
                    "rows": null
                },
                {
                    "label": "Equipment",
                    "value": "equipment",
                    "type": "text",
                    "required": false,
                    "rows": null
                },
                {
                    "label": "status",
                    "value": "status",
                    "type": "text",
                    "required": false,
                    "rows": null
                },
                {
                    "label": "Size",
                    "value": "size",
                    "type": "number",
                    "required": false,
                    "rows": null
                },
                {
                    "label": "Importance",
                    "value": "importance",
                    "type": "text",
                    "required": false,
                    "rows": null
                },
                {
                    "label": "Activity",
                    "value": "activity",
                    "type": "multiline",
                    "required": true,
                    "rows": 3
                },
                {
                    "label": "Unit Identification",
                    "value": "Identification",
                    "type": "text",
                    "required": false,
                    "rows": null
                },
                {
                    "label": "Assessed Threats",
                    "value": "AssessedThreats",
                    "type": "text",
                    "required": false,
                    "rows": null
                },
                {
                    "label": "MethodOfDetection",
                    "value": "Method",
                    "type": "text",
                    "required": false,
                    "rows": null
                },
                {
                    "label": "Surveillance Type",
                    "value": "SurveillanceType",
                    "type": "text",
                    "required": false,
                    "rows": null
                },
                {
                    "label": "Final Remarks",
                    "value": "FinalRemarks",
                    "type": "text",
                    "required": false,
                    "rows": null
                }
            ],
            "formValue": {
                "name": "",
                "address": "",
                "userCallsign": "",
                "dateTime": "",
                "time": "",
                "Duration": "",
                "eventScale": "",
                "type": "",
                "equipment": "",
                "status": "",
                "size": "",
                "importance": "",
                "activity": "",
                "Identification": "",
                "AssessedThreats": "",
                "Method": "",
                "SurveillanceType": "",
                "FinalRemarks": ""
            },
            "payload": "",
            "submit": "submit",
            "cancel": "cancel",
            "topic": "topic",
            "topicType": "msg",
            "splitLayout": true,
            "className": "",
            "x": 230,
            "y": 160,
            "wires": [
                [
                    "b141c7b.7bd5138",
                    "12195b34.dece55"
                ]
            ]
        },
        {
            "id": "1bde6131.aeec3f",
            "type": "debug",
            "z": "9c3be5f3.90e288",
            "name": "",
            "active": true,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "true",
            "targetType": "full",
            "statusVal": "",
            "statusType": "auto",
            "x": 910,
            "y": 160,
            "wires": []
        },
        {
            "id": "2d8912f5.e50c8e",
            "type": "http request",
            "z": "9c3be5f3.90e288",
            "name": "",
            "method": "POST",
            "ret": "txt",
            "paytoqs": "body",
            "url": "http://0.0.0.0:19023/ManageKML/postKML",
            "tls": "",
            "persist": false,
            "proxy": "",
            "authType": "bearer",
            "senderr": false,
            "x": 670,
            "y": 220,
            "wires": [
                [
                    "1bde6131.aeec3f",
                    "573bdb94.029964"
                ]
            ]
        },
        {
            "id": "b141c7b.7bd5138",
            "type": "function",
            "z": "9c3be5f3.90e288",
            "name": "Create rest",
            "func": "msg.payload ={\n  name: msg.payload.name,\n address: msg.payload.address,\n  body :{\n  userCallsign: msg.payload.userCallsign,\n  dateTime: msg.payload.dateTime,\n  TimeObserved: msg.payload.time,\n  MethodOfDetection: msg.payload.Method,\n  SurveillanceType: msg.payload.SurveillanceType,\n  DurationofEvent: msg.payload.Duration,\n  eventScale: msg.payload.eventScale,\n  type: msg.payload.type,\n  Size:msg.payload.size,\n  Equipment: msg.payload.equipment,\n  activity: msg.payload.activity,\n  importance: msg.payload.importance,\n  status: msg.payload.status,\n  Identification: msg.payload.Identification,\n  AssessedThreats: msg.payload.AssessedThreats,\n  FinalRemarks: msg.payload.FinalRemarks\n}\n}\n\n\nreturn msg;",
            "outputs": 1,
            "noerr": 0,
            "initialize": "",
            "finalize": "",
            "libs": [],
            "x": 480,
            "y": 220,
            "wires": [
                [
                    "2d8912f5.e50c8e",
                    "f14ea69be158a681"
                ]
            ]
        },
        {
            "id": "573bdb94.029964",
            "type": "ui_toast",
            "z": "9c3be5f3.90e288",
            "position": "top right",
            "displayTime": "5",
            "highlight": "",
            "sendall": true,
            "outputs": 0,
            "ok": "OK",
            "cancel": "",
            "raw": false,
            "topic": "",
            "name": "",
            "x": 880,
            "y": 260,
            "wires": []
        },
        {
            "id": "12195b34.dece55",
            "type": "debug",
            "z": "9c3be5f3.90e288",
            "name": "",
            "active": false,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "false",
            "statusVal": "",
            "statusType": "auto",
            "x": 480,
            "y": 120,
            "wires": []
        },
        {
            "id": "f14ea69be158a681",
            "type": "debug",
            "z": "9c3be5f3.90e288",
            "name": "REST",
            "active": true,
            "tosidebar": true,
            "console": false,
            "tostatus": false,
            "complete": "payload",
            "targetType": "msg",
            "statusVal": "",
            "statusType": "auto",
            "x": 680,
            "y": 120,
            "wires": []
        },
        {
            "id": "700f174cb7e69abe",
            "type": "comment",
            "z": "9c3be5f3.90e288",
            "name": "Customize this!",
            "info": "",
            "x": 660,
            "y": 340,
            "wires": []
        }
    ]
}
