[Unit]
Description=FreeTAKServer-UI service
After=network.target network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
StandardOutput=append:/var/log/{{ fts_ui_service_name }}/{{ fts_ui_service_name }}-stdout.log
StandardError=append:/var/log/{{ fts_ui_service_name }}/{{ fts_ui_service_name }}-stderr.log
ExecStart={{ python3 }} {{ fts_ui_install_path }}/run.py

[Install]
WantedBy=multi-user.target
