---
- name: "Include {{ ansible_distribution }}-specific variables"
  include_vars: "{{ ansible_distribution }}.yml"

- name: Install apt packages
  apt:
    name: "{{ python3_apt_packages }}"

- name: "Install pip packages"
  ansible.builtin.pip:
    name: "{{ pip3_packages }}"
    virtualenv: "{{ fts_venv }}"
    virtualenv_command: "{{ venv_python }} -m venv"
    # extra_args: --force-reinstall
