[Unit]
Description=webmap service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart={{ webmap_executable_location }}

[Install]
WantedBy=multi-user.target
