[Install]
WantedBy=multi-user.target

[Unit]
Description=webmap service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/opt/{{ json_reponse.json.name }}
